extends template 

block content 
    h1 #{title}
    p Submit your journal
    form(method='POST', action='/signup')
            #form-group 
                label Author:
                input.form-control(name='Author', type='text') 
            #form-group 
                label Title:
                input.form-control(name='Title', type='text') 
            #form-group 
                label Journal Body:
                textarea.form-control(name='JournalBody', type='text')
            #form-group 
                label Image:
                input.form-control(name='Image', type='file', accept="image/png, image/jpeg, image/jpg")
            input.btn.btn-primary(type='submit', value='Submit')