extends template 

block content
    div.container.d-flex.flex-column.align-items-center.mt-5
        h3 Terms and Conditions
        br
        ul
            li Booking Confirmation: Reservations are confirmed upon receiving payment or a valid credit card guarantee.
            li Check-In/Check-Out: Check-in is at 2:00 PM, and check-out is at 12:00 PM. Early check-in or late check-out is subject to availability and may incur additional charges.
            li Cancellation Policy: Cancellations made 48 hours prior to arrival are free of charge. Later cancellations or no-shows will result in a one-night charge.
            li Guest Responsibility: Guests are responsible for any damage to hotel property during their stay.
            li Safety and Security: The hotel is not liable for lost or stolen items; please use the in-room safe.
            li Non-Smoking Policy: Smoking is prohibited in all rooms. A cleaning fee will apply for violations.
            li Pets: Pets are not allowed unless explicitly approved in advance.
            li Promotional Communication: By confirming your booking, you agree to receive promotional emails regarding exclusive discounts, offers, and updates. You may unsubscribe at any time.
        p By confirming your booking, you acknowledge that you have read and agree to these terms and conditions.